<?xml version="1.0"?>
<config>
    <modules>
        <Etre_Promomod>
            <version>0.1.1</version>
        </Etre_Promomod>
    </modules>
    <global>
        <models>
            <etre_promomod>
                <class>Etre_Promomod_Model</class>
                <resourceModel>salesrule_label_failed</resourceModel>
            </etre_promomod>
            <salesrule_label_failed>
                <class>Etre_Promomod_Model_Resource</class>
                <entities>
                    <failedmessages>
                        <table>salesrule_label_failed</table>
                    </failedmessages>
                </entities>
            </salesrule_label_failed>
            <!-- <salesrule>
                <rewrite>
                    <validator>Etre_Promomod_Model_Rewrite_SalesRule_Validator</validator>
                </rewrite>
            </salesrule>-->
        </models>
        <blocks>
            <promomod>
                <class>Etre_Promomod_Block</class>
            </promomod>
            <adminhtml>
                <rewrite>
                    <promo_quote_edit_tab_labels>Etre_Promomod_Block_Adminhtml_Promo_Quote_Edit_Tab_Labels</promo_quote_edit_tab_labels>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <etre_promomod>
                <class>Etre_Promomod_Helper</class>
            </etre_promomod>
        </helpers>

        <resources>
            <promomod_setup>
                <setup>
                    <module>Etre_Promomod</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promomod_setup>
        </resources>
        <!--<events>
            <salesrule_validator_process>
                <observers>
                    <etre_promomod>
                        <class>Etre_Promomod_Model_Rulewatcher</class>
                        <method>salesruleValidatorProcess</method>
                    </etre_promomod>
                </observers>
            </salesrule_validator_process>
        </events>-->
    </global>
    <frontend>
        <routers>
            <checkout>
                <use>standard</use>
                <args>
                    <modules>
			    <Etre_Promomod before="Mage_Checkout">Etre_Promomod</Etre_Promomod>
                    </modules>
                    <frontName>checkout</frontName>
                </args>
            </checkout>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <etre_promomod before="Mage_Adminhtml">Etre_Promomod_Adminhtml</etre_promomod>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_controller_salesrule_prepare_save>
                <observers>
                    <etre_promomod>
                        <class>Etre_Promomod_Model_Observer</class>
                        <method>savePromoFailMessages</method>
                    </etre_promomod>
                </observers>
            </adminhtml_controller_salesrule_prepare_save>
        </events>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Etre_Promomod.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>
</config>
